# ==== Primary ====
PRIMARY_IP=10.70.16.201
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mydb

# ==== Replication ====
REPLICATOR_USER=replicator
REPLICATOR_PASSWORD=replicator_password
REPLICATION_SLOT_1=replication_slot_1
REPLICATION_SLOT_2=replication_slot_2

# ==== Replicas ====
REPLICA1_IP=10.70.16.202
REPLICA2_IP=10.70.16.206