POSTGRES_IMAGE=postgres:15
HAPROXY_IMAGE=haproxy:2.8-alpine

POSTGRES_USER=postgres
POSTGRES_PASSWORD=ChangeMeStrongPassword123!
POSTGRES_DB=mydb

REPLICATOR_USER=replicator
REPLICATOR_PASSWORD=ChangeMeReplPassword456!
REPLICATION_SLOT_1=replication_slot_1
REPLICATION_SLOT_2=replication_slot_2

PRIMARY_CONTAINER_NAME=postgres-primary
REPLICA1_CONTAINER_NAME=postgres-replica1
REPLICA2_CONTAINER_NAME=postgres-replica2
HAPROXY_CONTAINER_NAME=haproxy

# Local values (unused in prod)
LOCAL_PRIMARY_HOST=postgres-primary
LOCAL_REPLICA1_HOST=postgres-replica1
LOCAL_REPLICA2_HOST=postgres-replica2

LOCAL_PRIMARY_HOST_PORT=5432
LOCAL_REPLICA1_HOST_PORT=5433
LOCAL_REPLICA2_HOST_PORT=5434

# ==== PRODUCTION (active) ====
PROD_PRIMARY_HOST=10.70.16.201
PROD_REPLICA1_HOST=10.70.16.202
PROD_REPLICA2_HOST=10.70.16.205

HAPROXY_WRITE_PORT=5000
HAPROXY_READ_PORT=5001
HAPROXY_ALL_PORT=5002
HAPROXY_STATS_PORT=7000