# ============================================================
# Images
# ============================================================
POSTGRES_IMAGE=postgres:15
HAPROXY_IMAGE=haproxy:2.8-alpine
PROMETHEUS_IMAGE=prom/prometheus:v2.48.0
GRAFANA_IMAGE=grafana/grafana:10.2.2
ALERTMANAGER_IMAGE=prom/alertmanager:v0.26.0
PG_EXPORTER_IMAGE=prometheuscommunity/postgres-exporter:v0.15.0
NODE_EXPORTER_IMAGE=prom/node-exporter:v1.7.0

# ============================================================
# Credentials
# ============================================================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=ChangeMeStrong123!
POSTGRES_DB=mydb

REPLICATOR_USER=replicator
REPLICATOR_PASSWORD=ChangeMeRepl123!

REPLICATION_SLOT_1=replication_slot_1
REPLICATION_SLOT_2=replication_slot_2

# ============================================================
# Container names
# ============================================================
PRIMARY_CONTAINER_NAME=postgres-primary
REPLICA1_CONTAINER_NAME=postgres-replica1
REPLICA2_CONTAINER_NAME=postgres-replica2
HAPROXY_CONTAINER_NAME=haproxy

# ============================================================
# PRODUCTION VM IPs
# ============================================================
PROD_PRIMARY_HOST=10.70.16.231
PROD_REPLICA1_HOST=10.70.16.232
PROD_REPLICA2_HOST=10.70.16.233
PROD_HAPROXY_HOST=10.70.16.234
PROD_MONITOR_HOST=10.70.16.235

# ============================================================
# HAProxy ports
# ============================================================
HAPROXY_WRITE_PORT=5000
HAPROXY_READ_PORT=5001
HAPROXY_ALL_PORT=5002
HAPROXY_STATS_PORT=7000

# ============================================================
# Monitoring ports
# ============================================================
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
ALERTMANAGER_PORT=9093
NODE_EXPORTER_PORT=9100
PG_EXPORTER_PORT=9187